@charset "UTF-8";

/*CSS CODE*/
html{
	box-sizing: border-box;
	background: #fff;
    -webkit-font-smoothing: antialiased;
}

*,*::before,*::after{
	box-sizing: inherit;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-family: verdana;
}

ul{
	padding: 0px;
}

.wrapper{
	background-color: rgba(54, 7, 7);
}

.header{
	background: linear-gradient(to right, black, red);
	border-bottom: 0.5px;
    border-bottom-style: inset;
    border-bottom-color: rgba(255, 255, 255, .3); 
    background-size: cover;
}

.backgroundimg{
	max-width: 100%;
}

.logo{
	color: white;
	font-size: 30px;
}

span{
	color: red;
}

/*NAV*/
.nav-ul{
	margin: 0;
	background-color: rgba(54, 7, 7);
}

.nav-li{
	list-style: none;
	margin-left: 0;
	border-bottom: 1px solid #efefef;
	
	
}

.nav-li-a{
	padding: 0.6em 2rem;
	display: block;
	color: white;
	text-decoration: none;
	font-weight: normal;
	font-size: 15px;
	text-align: left;
}

.nav-ul a:link{
	text-decoration: none;
}

.nav-ul a:link, .nav-ul a:visited{
	color: white;
}

.nav-ul a:hover, .nav-ul a:focus, .nav-ul a:active{
	color: black;
	background-color: red;
	transition: all 550ms ease;
	border-radius: 20px;
    border-collapse: collapse;
}

.nav-active{
	color: darkgoldenrod;
	transition: all 550ms ease;
}

.container{
	background-color: #EEEEEE;
	padding: 2em 2rem;	
}

.content{   
	background-color: #EEEEEE;
}

/*LINKS*/
.links{
	height: 230px;
	display: flex;
    background-size: cover;
    background-color: #292D32;
	padding: 0px;
    border-top: 0.5px;
    border-top-style: inset;
    border-top-color: rgba(255, 255, 255, .3); 
    justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
}

.table{
        text-decoration: none;
        font-size: 20px;
        color: #d9e9fc;
        margin: 60px;
        border: 1px;
        border-color: rgba(255, 255, 255, .5);
        border-right-style: solid;
        border-collapse: separate;
        border
    }
    
    .table ul{
        list-style: none;
        margin-left: 20px;
        margin-right: 50px;
    }
    
    .table ul li a{
        text-decoration: none;
        color: #737e8c;
        font-size: 15px;
    }
    
    .table ul li a:hover{
        color: whitesmoke;
        transition: all 550ms ease;
    }

 /*FOOTER*/
 .footer{
	background-color: #292D32;
	color: #d9e9fc;
    text-align: center;
    letter-spacing: 0.05em;
    border-top: 0.5px;
    border-top-style: inset;
    border-top-color: rgba(255, 255, 255, .3);
    font-size: 14px;
    padding: 20px;
}

 /*FLOAT BUTTONS*/
 .primary{
	position: fixed;	
	bottom: 40px;
	right: 150px;
	z-index: 1;
}

.button{
	border: 1px;
    border-color: rgba(0,0,0,0.3);
    border-style: solid;
	border-radius: 20px;
	width: 160px;
	height: 40px;
	background-color: white;
	opacity: .7;
	display: inline-block;
	outline: 0;
	padding-top: 0.40rem;
	padding-bottom: 0.40rem;
	text-align: center;
	text-decoration: none;	
}

.button span{
	box-sizing: border-box;
	background-size: cover;
	color: black;
	font-weight: normal;
	font-size: 19px;
}

.button:hover{
	background-color: darkred;
	transition: all 550ms ease;
}

.gotopbtn{
    position: fixed;
    width: 40px;
    height: 40px;
    background: white;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    opacity: .7;
    border-radius: 20px;
}

.gotopbtn img{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.gotopbtn:hover{
    background-color: darkred;
    transition: all 550ms ease;;
}


/*640px BREAKPOINT*/
@media screen and (min-width: 40em){
	.header{
	    padding: 1.5em;
	    text-align: left;
    }

    .container{
	    padding: 3rem 0;
	    display: block;
	    overflow: auto;
    }

    .content{
	    display: block;
	    width: 100%;
	    padding: 0 1rem 0 2rem;
    }

   .nav-ul{
	    padding: 0 2rem;
	    overflow: hidden;
    }

    .nav-li{
	   float: left;
	   display: inline-block;
	   border: none;
	   width: auto;
    }

    .nav-li-a{
	   padding: 0.7em 1.2rem;
	   display: inline-block;
    }
}

/*1024px BREAKPOINT*/
@media screen and (min-width: 64em){
	.container{
		width: 85%;
		padding: 0;
		margin-left: 15%;
	}

	.content{
		width: 100%;
		padding: 1em 1.5em;
	}

	.nav-ul{
		width: 15%;
		float: left;
		margin: 1em 0;
		padding: 0;
	}

	.nav-li{
		width: 100%;
		float: none;
		text-align: center;
	}

	.nav-li-a{
		padding: 0.5em 3rem;
		display: block;
	}

	.header h2{
    	display: none;
    }

    .header span{
    	display: none;
    }
}

/*1280px BREAKPOINT*/
@media screen and (min-width: 80em){
	.wrapper{
		margin: 0 auto;
		max-width: 100%;
	}

	.content{
	    width: 100%;
	    background-color: #EEEEEE;
	}
}

@media screen and (max-width: 1024px/*920px*/){
	.links{
		/*display: block;*/
		flex-direction: column;
		justify-content: center;
	    justify-items: center;
	    align-items: center;
	    align-content: center;
	}

	.contact{
		text-align: center;
	    flex-direction: column;
		justify-content: center;
	    justify-items: center;
	    align-items: center;
	    align-content: center;
	    margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        border: 1px;
        border-color: rgba(255, 255, 255, .5);
        border-top-style: solid;
        border-collapse: separate;
	}

	.table{
           width:100%;
           border-right: hidden;
        }

        .table ul{
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .table thead {
           display: none;
        }

        .table tr:nth-of-type(2n) {
           background-color: inherit;
        }

        .table tr td:first-child {
          
        }

        .table tbody td {
           display: block;
           text-align:center;
        }

        .table tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
        }

     .backgroundimg{
		display: none;
	}
}
